<h1><%= r18n.doc.index.title %></h1>
<div id="index">
    <div class="container-fluid">
        <img src="/images/news/y1DUOIgzJhY.jpg" >
        <div class="text"><%= r18n.doc.index.text %></div>
    </div>
</div>